	html,
	body {
		height: 100%;
		width: 100%;
		background: $gray-bj-color;
		font-family:Helvetica;
		font-size:$font-28;
		line-height:1.8;
	}
	/*每个页面公共css */
	// 全局按钮
	button[type=primary] {background-color:$blue-color;}
	button[plain] {border:1px solid $blue-color !important;color: $blue-color !important;}
	.button-hover{background-color: #2b89ec!important;color:$white-color!important;}
	
	.none {
		padding: 20upx 0;
		color: $font-light-gray;
		text-align: center;
	}
	.tabs {
		overflow: hidden;
		display: flex;
		margin: 0 20upx;
		// width: 450upx;
		border: 1px solid $blue-color;
		border-radius: 5px;	
		.tabs-items {
			flex: 1;
			text-align: center;
			line-height:2.5;
			font-size:$font-30;
			color: $font-gray;
			border-right: 1px solid $blue-color;	
			&:last-child {
				border-right: 0;
			}
		}	
		.active {
			color: $white-color;
			background: $blue-color;
		}
	}
	/*我的消息*/
	.push-info{
		margin-top: 20upx;
		background: $white-color;
	} 
	.push-info-item{	
		display: flex;
		align-items: center;
		position:relative;
		padding: 0 30upx;
		height: 100upx;
		color:$font-text-color;
        @include line(20upx)
		&:active{
			background-color:$hover-color;
		}
		.info-text {
			flex: 1;	
			.icon-yuandianxiao {
				padding-right: 10upx;
				font-size:$font-24;				
			}	
			.info-time {
				font-size:$font-26;
				padding-left: 10upx;
				color: $font-light-gray;
			}
		}
	
		.icon {
			display: flex;
			align-items: center;
			.icon-circle {
				margin-right: 10upx;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $red-color;
			}
	
			.icon-arrow-right {
				color: $font-light-gray;
			}
		}
	}

