	html,
	body {
		height: 100%;
		width: 100%;
		background: $gray-bj-color;
		font-family:Helvetica;
		font-size:28upx;
		line-height:1.8;
	}
	/*每个页面公共css */
	.none {
		color: $font-light-gray;
		font-size: 28upx;
		text-align: center;
	}
	.farm-title {
		display: flex;
		flex-direction: row;
		padding: 10px 20px;
		height: 45upx;
		line-height: 45upx;
		font-size: 34upx;
		text-align: center;
		.title{
			flex: 1;
		}
		
		.icon-box{		
		.iconfont{			
			color: $font-light-gray;
			margin-left: 30upx;
		}
		}

	}
	/*我的消息*/
	.push-info{
		margin-top: 20upx;
		background: $white-color;
	} 
	.push-info-item{	
		display: flex;
		align-items: center;
		position:relative;
		padding: 0 30upx;
		height: 118upx;
		color:$font-title-color;
        @include line(20upx)
		&:active{
			background-color:$hover-color;
		}
		.info-text {
			flex: 1;	
			.icon-yuandianxiao {
				padding-right: 10upx;
				font-size: 12px;
				
			}
	
			.info-time {
				font-size:$font-26;
				padding-left: 10upx;
				color: $font-light-gray;
			}
		}
	
		.icon {
			display: flex;
			align-items: center;
			.icon-circle {
				margin-right: 10upx;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $red-color;
			}
	
			.icon-arrow-right {
				color: $font-light-gray;
			}
		}
	}